xerces
Debug/
Release/
CVS/
.obj
.sln
.sbr
.suo
.vcxproj.user
.vcxproj.filters
*.exe
*.obj
*.o
*.pcb
*.pch
*.ilk
*.m4
*.map
*.opt
Debug/*
Release/*
ReleaseLog/*
*.pdb
*.sym
*.gch
*.cache
*.ncb
*.com
*.COM
*.OBJ
*~
.*~
*.lib
*.dll
Darkeden
*.plg
*.exp
*.scc
*.meta

# vc++ cache files

ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
